<div class="well span8">
  <em><%= comment.body %></em>
  <br/>
  <br/>
  <p>
    <span class='quiet'>posted by</span> <%= @post.creator.username %>
    <small>at <%= fix_date_time_format(@post.created_at) %></small>
  </p>
</div>
