<div class="well span8">
  <em>"<%= comment.body %>"</em> 
  <% if post %>
    on
    <%= link_to post.title, post_path(post) %>
  <% end %>
  <br/>
  <br/>
  <p>
    <span class='quiet'>by</span> <%= comment.creator.username %>
    <small>at <%= fix_date_time_format(comment.created_at) %></small>
  </p>
</div>
